.container {
    columns: 5 180px;
    column-gap: 0.7rem;
    padding: 0.4rem;
}
.content{

    max-width: 100%;
    margin: 0.4rem 0;
    margin-top: 0; 
    background-color: #ffff006f;
    color: #000000;
    break-inside: avoid;
    padding: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 6px;
}
.content h5{
    width: 100%;
    border-bottom: 2px rgb(0, 0, 0) solid;
    font-size: 1.2rem;
    padding: 0.5rem 0rem;
    margin-bottom: 0.5rem;
    font-family: Excon-Medium;
}
.content p {
    font-size: 0.9rem;
    font-family: Excon-Light;
}
.content a{
    color: #000000;
    text-decoration: none;
}
.menu{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0px;
    top: 0px;
    transform: translate(520%,20%);
    width: fit-content;

}