.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #ffffffc4 solid;
    border-radius: 5px;
    width: 40%;
    height: 70vh;
    background-color: black;
}
.contain h1{
    color: #fff;
    font-size: 1.9rem;
    padding: 0.5rem;
    border-bottom: #ffffffc4 2px solid;
    border-radius: 5px;
}
.contain a{
    border-right: 2px #ffffffc4  solid;
    border-bottom: 2px #ffffffc4  solid;
    padding:0.5rem 1rem;
    position: fixed;
    left: 30%;
    top: 17%;
    transition: .3s;
    border-radius: 10px;
}
.contain a:hover{
    background-color: #ffffff44 ;
    transition: .3s;
}
.errors{
    min-height: 3vh;
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.errors p{
    font-size: 0.65rem;
    margin: 0;
    /* display: none; */
    color: red;
    min-height: 1vh;
}
.input_contain{
    margin: 0.4rem;
}
.contain button{
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Excon-Medium;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    width: 15vw;
    height: 7vh;
    margin: 0.8rem;
}
.contain button:hover{
    background-color: #ffffff81;
    transition: 0.2s;
}
.input{
    position: relative;
    /* margin: 1rem; */
    /* margin: 0.5rem 0; */
}
.inputErrors{
    position: relative;
    /* margin: 0.5rem 0; */
}
.input input{
    width: 380px;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #fff ;
    background: transparent;
    color: #fff;
    outline: none;
}
.inputErrors input{
    width: 380px;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #ff0000 ;
    background: transparent;
    color: #ffffff;
    outline: none;
}
.input label{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #fff ;
    font-size: 17px;
    pointer-events: none;
    transition: .3s;
    margin-left: 0.5rem;
    padding: 0.1rem;
}
.inputErrors label{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #ffffff ;
    font-size: 17px;
    pointer-events: none;
    transition: .3s;
    margin-left: 0.5rem;
    padding: 0.1rem;
    
}
.input input:not(:placeholder-shown) ~ label {
    top: -3px;
    left: -2px;
    border: 1px solid #fff ;
    border-left: 1px solid #fff;
    /* border */
    font-size: 13px;
    padding: 0 5px;
    background-color: #ffffff;
    color: black;
    border-radius: 6px;
    transition: .3s;
}
.inputErrors input:not(:placeholder-shown) ~ label {
    top: -3px;
    left: -2px;
    border: 1px solid #ff0000 ;
    font-size: 13px;
    padding: 0 5px;
    background-color: #ff0000;
    color: black;
    border-radius: 6px;
    transition: .3s;
}