.container {
  display: flex;
  flex-direction: row;
  height: 12vh;
  border-bottom:2px #ffffffc4 solid;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  background-color: #000000;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 10vw;
}
.btns_banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btns_banner div {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.btn_banner{
  margin: 0.5rem;
  font-family: Excon-Bold;
  font-size: 1.1rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
}
@media only screen and (max-width: 1024px){
  .logo img{
    width: 18vw;
  }
}
@media only screen and (max-width: 600px){
  .logo img{
    width: 35vw;
  }
}