.container {
  display: flex;
  flex-direction: row;
  height: 13vh;
  border-bottom:2px #ffffffc4 solid;
  /* border-top: 1.3px #3FBF9B solid; */
  padding: 1rem;
  justify-content: flex-end;
  background-color: #000000d7;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo h1 {
  color: #8cb1da;
  font-size: rem;
}
.btns_banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btns_banner ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.btns_banner ul button {
  margin: 0.5rem;
  font-family: Excon-Bold;
  font-size: 1.1rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
}
