.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 88vh;
    background-image: url('../../assets/fondo/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 50%;
    background-color: #000000;
    color: #fff;
    border: 2px #ffffffc4 solid;
    border-radius: 10px;
}
.contain2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 50%;
    background-color: #000000;
    color: #fff;
    border: 2px #ffffffc4 solid;
    border-radius: 10px;
    padding: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}
.text_content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.input {
    position: relative;
    /* margin: 1rem; */
    /* margin: 0.5rem 0; */
  }
  .inputErrors {
    position: relative;
    /* margin: 0.5rem 0; */
  }
  .input input {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
  }
  .inputErrors input {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #ff0000;
    background: transparent;
    color: #ffffff;
    outline: none;
  }
  .input label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14=6px;
    pointer-events: none;
    transition: 0.3s;
    margin-left: 0.5rem;
    padding: 0.1rem;
  }
  .inputErrors label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #ff0000;
    font-size: 14=6px;
    pointer-events: none;
    transition: 0.3s;
    margin-left: 0.5rem;
    padding: 0.1rem;
  }
  .input input:not(:placeholder-shown) ~ label {
    top: -3px;
    left: -2px;
    border: 1px solid #fff;
    border-left: 1px solid #fff;
    /* border */
    font-size: 13px;
    padding: 0 5px;
    background-color: #ffffff;
    color: black;
    border-radius: 6px;
    transition: 0.3s;
  }
  .inputErrors input:not(:placeholder-shown) ~ label {
    top: -3px;
    left: -2px;
    border: 1px solid #ff0000;
    border-left: 1px solid #ff0000;
    /* border */
    font-size: 13px;
    padding: 0 5px;
    background-color: #ff0000;
    color: black;
    border-radius: 6px;
    transition: 0.3s;
  }
  
.contain button {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Excon-Medium;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    height: 5vh;
    margin: 0.8rem;
  }
.contain2 button {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Excon-Medium;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    height: 5vh;
    margin: 1rem;
  }
  .text_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text_content p{
    height: 2vh;
    margin: .6rem;
  }
  .form_contain {
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
  }
  .errors {
    min-height: 3vh;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 0.7rem;
  }
  .errors p {
    font-size: 0.65rem;
    margin: 0;
    /* display: none; */
    color: red;
    min-height: 1vh;
  }
 
  @media only screen and (max-width: 600px) {
    .contain{
      width: 100%;
      
    }
    .contain2{
      width: 100%;
      height: 85%;
    }
  }